{% load static %}
<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HakiRecord|login</title>

    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
</head>
<body>

<div class="login">
    

<form action="/login/" class="login_form" method="post">
    {% csrf_token %}
    <img src="{% static 'assets/img/coat1.png' %}" alt="">

    <div class="text">
    <label for="">Service Number:</label><br>
    <input type="text" placeholder="Enter Service number" name="service_number" required>
    <br><br>
    <label for="">Password:</label><br>
    <input type="password" placeholder="Enter Password" name="login_password" required>
    <br><br>
    
    <button>Submit</button>
        </div>
</form>
    </div>
</body>
</html>